body
{
background-color:#8ae3f2;
font-size:30px;
color:#000066
}
p
{
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 80px;
  margin-left: 80px;
}
ol
{
  margin-top: 45px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}
ul
{
  margin-top: 45px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

h1
{
font-size:65px;
color:#f2670a;
text-align:center
}
 
p
{
text-align:justify
}
 
img
{
width:250;
height:200
}